nav {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  color: white;
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.burger {
  flex: 0 0 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  flex: 0 0 120px;

  flex-direction: column;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 64px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}
